.homePage {
    /* background-image: linear-gradient(to left, #132439, #0e2b4d, #093162, #0e3776, #1c3c8a); */
    background-color: #132439;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.homepageTop {
    display:flex;
    justify-content: center;
    margin-top: -60px;
    /* background-color: red; */
}

.homepageBottom {
    /* background-color: white; */
    padding-bottom: 20px;
    margin-top: -80px;
}