.loginPage {
    background-image: linear-gradient(to left, #132439, #0e2b4d, #093162, #0e3776, #1c3c8a);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.brandTag {
    color: white;
    font-size: 36px;
}

.loginWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.welcomeTagWrapper {
    margin-top: -60px;
}

.welcomeTag {
    color: white;
    font-size: 44px;
}

.peerPrepBrandLoginWrapper {
    display: flex;
    align-items: center;

}

.peerPrepLogoLogin {
    height: 80px;
    padding: 8px;
}

.brandTagWrapper {
    margin-left: -20px;
}
