.loginPage {
    background-image: linear-gradient(to left, #132439, #0e2b4d, #093162, #0e3776, #1c3c8a);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}



.loginWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.welcomeTagWrapper {
    color: white;
    font-size: 48px;
}


