.logoutButton {
    border-radius: 20px;
    outline: 1px solid white;
    margin: 4px;
}

.navbarOption {
    margin: 4px;
    border-radius: 20px;
}

.logo {
    cursor: pointer;
}

.peerPrepLogo {
    height: 40px;
    padding: 4px;
}