.signUp {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.signupPage {
    background-image: linear-gradient(to left, #132439, #0e2b4d, #093162, #0e3776, #1c3c8a);
    display: flex;
}

.signUpDivier {
    flex: 6;
}

.tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.taglineDivider {
    flex:6;
}

.taglineWrapper {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    justify-content: space-evenly;
    width: 80%;
    overflow-wrap: break-word;
    align-content: flex-start;
}

.header {
    font-size: 76px;
    color: white;
}

.subHeader {
    color: white;
    font-size: 24px;
    margin-top: -10px;
}

.peerPrepBrandWrapper {
    display: flex;

    align-items: center;
}

.peerPrepLogoSignup {
    /* background-color: purple; */
    height: 150px;
}

