.matchTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    margin-bottom: 44px;
}

.matchTitle {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.matchDescription {
    color: white;
    text-align: center;
}

.matchWrapper {
    justify-content: space-around;
    align-items: center; 
    height: 50vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.matchCardWrapper {
    justify-content: center;
    /* background-color: green; */
}

.matchContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    /* background-color: blue; */
}